<header class='container'>
  <div class='container-inner'>
    <span class='header-logo' routerLink=''></span>
    <app-search></app-search>
    <app-button class='toggle-button'  (click)='toggleSettings()'>
      <span class="material-symbols-outlined">tune</span>
    </app-button>
  </div>
  <div class='container-sorting' [class.open]='settingsIsOpen'>
    <app-sorting-settings></app-sorting-settings>
  </div>
  <div class='auth'>
    <ng-container *ngIf='(isAuth | async)'>
      <span class='auth-username'>Your name</span>
      <button class='auth-button' type='button' (click)='logout()'>
        <span class='material-symbols-outlined'>logout</span>
      </button>
    </ng-container>
    <ng-container *ngIf='(isAuth | async) === false'>
      <span class='material-symbols-outlined'>login</span>
    </ng-container>
  </div>
</header>
