:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a.not-found {
  text-decoration: none;
  font-size: 24px;
}

.not-found {
  font-size: 32px;
  color: #1E88E5;
}
