:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  align-items: stretch;
  margin-top: 20px;
}

.pagination {
  display: flex;
  gap: 30px;

  &-button {
    width: 100px;
    height: 30px;
  }
}
