<ul class='video-statistics'>
  <li class='video-statistics-item'>
    <span class="material-symbols-outlined">visibility</span> {{statistics.viewCount}}
  </li>
  <li class='video-statistics-item'>
    <span class="material-symbols-outlined">thumb_up</span> {{statistics.likeCount}}
  </li>
  <li class='video-statistics-item'>
    <span class="material-symbols-outlined">thumb_down</span> {{statistics.dislikeCount}}
  </li>
  <li class='video-statistics-item'>
    <span class="material-symbols-outlined">comment</span> {{statistics.commentCount}}
  </li>
</ul>
