:host {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.sorting-param {
  background-color: transparent;
  border: none;
  padding: 5px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  transition: background-color 0.4s;

  &:hover {
    color: white;
    background-color: rgba(33, 150, 243, 0.2);
    border-radius: 3px;
  }
}

.sorting-filter {
  &-label {
    margin-right: 10px;
  }

  &-input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    transition: box-shadow 0.4s;

    &:hover {
      box-shadow: 0 0 1px 1px #2196F3;
    }

    &:focus {
      outline: 2px solid #2196F3;
    }
  }
}
