<ng-container *ngIf='video$ | async as video'>
  <app-button *ngIf='video.id?.startsWith("custom")' class='button-delete' (click)='deleteCard(video.id)'>
    <span class='material-symbols-outlined'>delete</span>
  </app-button>
  <app-favorite-button *ngIf='!video.id.startsWith("custom")' [id]='video.id'></app-favorite-button>
  <a routerLink='' class='back' appColorize [date]='video.snippet.publishedAt' [style]='"background-color"'>
    <span class="material-symbols-outlined">arrow_back_ios</span>
  </a>
  <div class='detailed'>
    <div class='detailed-image'>
      <img [src]='video.snippet.thumbnails.default.url' alt='video-thumbnail'>
    </div>
    <div class='detailed-info' appColorize [date]='video.snippet.publishedAt' [style]='"border-bottom"'>
      <header class='detailed-header'>
        <h2 class='detailed-header-title'>{{video.snippet.title}}</h2>
        <span class='detailed-header-date'>{{video.snippet.publishedAt | date: 'fullDate'}}</span>
      </header>
      <div class='detailed-description'>
        <h3>Description:</h3>
        <p class='detailed-description-text'>{{video.snippet.description}}</p>
      </div>
      <ng-container *ngIf='video.statistics'>
        <app-video-statistics [statistics]='video.statistics' class='detailed-statistics'></app-video-statistics>
      </ng-container>
    </div>
  </div>
</ng-container>

