<h2>Login</h2>
<form [formGroup]='loginForm' (ngSubmit)='submit()' class='form'>
  <div class='form-field'>
    <label for='login' class='form-field-label'>login</label>
    <input class='form-field-input' type='text' name='login' id='login' formControlName='login' autocomplete='true'>
    <div class='validation' *ngIf='login.invalid && (login.dirty || login.touched)'>
      <ul class='validation-messages'>
        <li class='validation-title' *ngIf='login.errors?.["email"]'>
          login email is invalid
        </li>
        <li class='validation-title' *ngIf='login.errors?.["required"]'>
          Please enter a login email
        </li>
      </ul>
    </div>
  </div>
  <div class='form-field'>
    <label for='password' class='form-field-label'>password</label>
    <input class='form-field-input' type='password' name='password' id='password' formControlName='password' autocomplete='false'>
    <div class='validation' *ngIf='password.invalid && (password.dirty || password.touched)'>
      <ul class='validation-messages'>
        <li class='validation-message' *ngIf='password.errors?.["required"]'>
          Please enter a password
        </li>
        <li class='validation-message' *ngIf='password.errors?.["passwordStrong"]'>
          {{password.errors?.["passwordStrong"].message}}
        </li>
        <li class='validation-message' *ngIf='password.errors?.["passwordLength"]'>
          {{password.errors?.["passwordLength"].message}}
        </li>
        <li class='validation-message' *ngIf='password.errors?.["passwordLettersCase"]'>
          {{password.errors?.["passwordLettersCase"].message}}
        </li>
        <li class='validation-message' *ngIf='password.errors?.["passwordDigits"]'>
          {{password.errors?.["passwordDigits"].message}}
        </li>
        <li class='validation-message' *ngIf='password.errors?.["passwordSpecialChars"]'>
          {{password.errors?.["passwordSpecialChars"].message}}
        </li>
      </ul>
    </div>
  </div>
  <app-button [type]='ButtonType.submit' class='form-button form-submit' [disabled]='loginForm.invalid'>Login</app-button>
</form>
