:host {
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.03);
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 100%;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);

  &-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    color: white;
    transition: all 0.4s;

    &:active {
      .material-symbols-outlined {
        font-variation-settings:
          'wght' 700
      }
    }
  }

  &-delete {
    background-color: #F44336;

    &:hover {
      box-shadow: 0 0 2px 2px #EF5350;
    }
  }

  &-thumbnail {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &-title {
    font-size: 16px;
    text-align: center;
  }

  &-more {
    width: 100px;
    height: 20px;
    margin-top: auto;
  }
}
